## 파이썬 기초

#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 시스템 유틸리티 제작
- GUI 프로그래밍
- C/C++와의 결합
- 웹 프로그래밍
- 수치 연산 프로그래밍
- 데이터베이스 프로그래밍
- 데이터 분석, 사물 인터넷

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [3]:
!python -V

Python 3.8.10

In [7]:
# 표현식
print(273)
print(10+20+30)
"python programming"

273
60

'python programming'

In [8]:
# 표현식이 하나 이상씩 모이면 문장
print(52, 'Hello Python', 5+3)

52 Hello Python 8

In [10]:
# 문장이 모여서 프로그램
a=1;b=2;c=a+b;
print(c)

3

In [11]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

식별자 기본 규칙
- 키워드를 사용하면 안된다.
- 특수문자는 언더 바(_) 만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

In [ ]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자
AlpHa
ALPHA
has space # 공백

파이썬은 snake_case와 CamelCase를 모두 사용
- itemlist     item_list     ItemList
- loginstatus  login_status  LoginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [12]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어
if 3 in [1,2,3,4]: print('3이 있습니다')

3이 있습니다

In [13]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 0O 또는 00으로 시작
f = 0xABC # 16진수 0x로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

123
-123
0
1.23
127
2748

In [15]:
# 사칙연산
a = 10
b = 2
c = a + b
d = a * b
e = a / b
f = a % b  # 나머지
g = a // b # 몫
h = 2 ** 3 # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
20
5.0
0
5
8

In [19]:
# 다른 타입간 연산은 안됨
string = "문자열 "
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [21]:
a = 10
a = "문자"
a = 100
type(a)

int

In [24]:
# 복합 대입 연산자
num = 10
num += 10
num *= 10
num

200

In [26]:
# 사용자 입력
input('인사말을 입력하세요: ')

인사말을 입력하세요: 안녕하세요.

'안녕하세요.'

In [28]:
num = input('숫자를 입력하세요: ')
print(num)
type(num)

숫자를 입력하세요: 5
5

str

In [29]:
num1 = input('숫자를 입력하세요')
num2 = input('숫자를 입력하세요')
print(num1 + num2)

숫자를 입력하세요5
숫자를 입력하세요5
55

In [30]:
# input() 함수를 사용하면 숫자도 문자로 전환되어 숫자연산을 위한 변환 필요
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print(num1_n + num2_n)

숫자를 입력하세요5
숫자를 입력하세요5
10

In [ ]:
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.

In [31]:
# A.
String_a = input("입력A> ")
int_a = int(String_a)
String_b = input("입력B> ")
float_b = float(String_b)
print(int_a + float_b)

입력A> 3
입력B> 3.3
6.3

In [ ]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 
# 자료형으로 변환하세요.

In [32]:
# A.
a = str(52)
b = str(52.273)
print(a+b)

5252.273

In [36]:
# 문자열 : "", '', """ """, ''' '''
p1 = "python's value is great"
# p2 = 'python's value is great'
print(p1)

python's value is great

In [37]:
s1 = '"python is valuable" he says'
s1

'"python is valuable" he says'

In [38]:
s2 = 'python\'s value is great'
s2

"python's value is great"

In [41]:
y1 = "Once you study data analysis\nYou need Pythin"
print(y1)
y2 = '''Once you study data analysis
You need Pythin'''
print(y2)
y3 = """nce you study data analysis
You need Pythin"""
print(y3)

Once you study data analysis
You need Pythin
Once you study data analysis
You need Pythin
nce you study data analysis
You need Pythin

In [44]:
# 문자열 연산
a1 = 'Python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1 * 3)
print("=" * 20)

Python is easy to learn
PythonPythonPython
====================

In [45]:
# 자료형 - List
# 리스트는 [] 로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [55]:
# 인덱싱
list1 = [1,2,3,4,5]
list1[:]
list3[2]
list3[3][4]
list3[4][1]

'b'

In [61]:
# 리스트 수정, 삭제

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
a[0] = 1
print(a)
b[1] = 'a'
print(b)
del b[0]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [63]:
c = a + b
c[-1] = 1
c

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 1]

In [64]:
c[-2] = 2
c

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]

In [68]:
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]
s.sort()
print(s)
# 내림차순
s_d = sorted(s, reverse=True)
print(s_d)
s.reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [73]:
# 인덱스 위치 반환
import numpy as np
c = np.random.randint(100, size=100).tolist()
print(c)
c.index(65)

[73, 22, 99, 62, 4, 88, 72, 57, 47, 36, 46, 57, 91, 43, 60, 86, 20, 69, 1, 82, 89, 58, 9, 37, 85, 77, 2, 65, 42, 63, 85, 13, 78, 27, 37, 8, 11, 47, 69, 13, 24, 51, 24, 54, 21, 90, 0, 16, 95, 89, 1, 40, 76, 49, 27, 23, 63, 3, 16, 28, 97, 87, 74, 88, 34, 71, 63, 50, 23, 11, 8, 56, 59, 40, 16, 25, 72, 17, 68, 34, 35, 16, 3, 47, 17, 14, 87, 14, 27, 94, 19, 38, 94, 44, 65, 54, 83, 27, 20, 65]

27

In [74]:
# 개수 반환
c = [1,1,3,3,3,5,5]
print(c.count(3))

3

In [76]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5])
print(h)
# 추가
h.append(6)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [77]:
# 튜플
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

tuple1[:]
tuple3[2]
tuple3[3][4]
tuple3[4][1]

'b'

In [78]:
list1[0] = 6
print(list1)

[6, 2, 3, 4, 5]

In [79]:
# 자료형 - Tuple
# 튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용
tuple1[0] = 6
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [85]:
t1 = (1,) # 1개의 요소만 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)
t2 = 1,2,3
print(t2)
print(t2 * 3)
t3 = t1 + t2
print(t3)
t4 = (1)
print(t4)
type(t4)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1

int

In [87]:
# 자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
d1 = {'a':1,'b':2,'c':3}
print(d1['a'])
d1['b'] = 5
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [90]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [91]:
# 자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다.)
s1 = set([1,2,5,4,3])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'H', 'l', 'e', 'o'}

In [92]:
# 집합은 인덱싱으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱
l1 = list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])

2
l

In [94]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트와 튜플로 출력하세요.
# 합집합(s1 | s2), 교집합(s1 & s2)
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [95]:
s3 = list(s1 | s2)
s4 = list(s1 & s2)
print(s3)
print(s4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [98]:
# 들여쓰기
li = ['a','b','c']
if 'a' in li:
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')

a가 li에 있습니다.

In [100]:
# 포멧함수
f1 = "{} 선수가 {}등입니다.".format('홍길동',1)
print(f1)
print("%s 선수가 %d등입니다." %("홍길동",1))

홍길동 선수가 1등입니다.
홍길동 선수가 1등입니다.

In [ ]:
파이썬은 자바보다 2배 쉽습니다.

In [102]:
ex1 = "{}은 {}보다 {}배 쉽습니다.".format('파이썬','자바',2)
print(ex1)
print("%s은 %s보다 %d배 쉽습니다." %('파이썬','자바',2))

파이썬은 자바보다 2배 쉽습니다.
파이썬은 자바보다 2배 쉽습니다.

In [107]:
ex2 = 12345
f2 = '{:d}'.format(ex2)
print(f2)
f3 = '{:10d}'.format(ex2)
print(f3)
ex3 = 12.3456789
f4 = '{:f}'.format(ex3)
print(f4)
f5 = '{:15.2f}'.format(ex3)
print(f5)

12345
     12345
12.345679
          12.35

In [110]:
# 제어문 - if~elif~else
# "수입과 지출금액을 비교해서 수입이 많은면 저축 증가, 반대이면 빚이 증가, 
# 같으면 현상 유지"
i = 5,000,000
e = 3,000,000

if i > e:
    print('저축 증가')
elif i < e:
    print('빛이 증가')
else:
    print('현상 유지')

저축 증가

In [111]:
# for 반복문
numbers = [5,15,6,20,7,25]
for number in numbers:
    print(number)

5
15
6
20
7
25

In [ ]:
# 5를 2로 나누었을때의 몫과 나머지를 구하세요.

In [ ]:
# 101의 3승을 구하세요

In [ ]:
# Python과 3.8.3을 합쳐서 Python 3.8.3으로 출력하세요

In [ ]:
# a = 5 a = '10' a = 15일때 a의 자료형은 무엇인가?

In [ ]:
# 5의 3승을 3으로 나누었을때의 나머지를 복합 대입 연산자를 이용해서 구하세요.

In [ ]:
# 이름을 물어보고 답하는 내용을 출력하세요

In [ ]:
# 숫자 3개를 입력해서 첫번째 숫자를 두번째 숫자 승한 뒤에 세번째 숫자로 
# 나누었을 때 몫을 구하세요.

In [ ]:
# 1부터 5까지 입력해서 12345를 출력하세요

In [ ]:
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 
# 리스트로 출력하세요

In [ ]:
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']에서 'c'를 삭제 후 출력하세요.

In [ ]:
# [4, 8, 5, 4, 8, 4, 3, 9, 1, 9]를 내림차순으로 정렬하세요

In [ ]:
# Q. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.
# 원숭이, 닭, 개, 돼지, 쥐, 소, 범, 토끼, 용, 뱀, 말, 양띠

Q. 계절 구분 프로그램
 - 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
 - 각 계절별 출력 멘트는 계절에 맞게 창작
 - if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성