### 연산
* 행/열 인덱스를 기준으로 모든 원소를 정렬한다.
* 동일한 위치에 있는 원소끼리 일대일 대응시킨다.
* 일대일 대응이 되는 원소끼리 연산을 처리한다.

In [1]:
import pandas as pd
st1 = pd.Series({'국어':100,'영어':80,'수학':90})
st2 = pd.Series({'수학':80,'국어':90,'영어':80})
print(st1)
print(st2)

국어    100
영어     80
수학     90
dtype: int64
수학    80
국어    90
영어    80
dtype: int64

In [4]:
add = st1 + st2
sub = st1 - st2
mul = st1 * st2
div = round((st1 / st2),2)
print(add)

국어    190
수학    170
영어    160
dtype: int64

In [5]:
df = pd.concat([add,sub,mul,div],axis=1)
df

      0   1     2     3
국어  190  10  9000  1.11
수학  170  10  7200  1.12
영어  160   0  6400  1.00

In [ ]:
# Q. df의 컬럼이름을 add,sub,mul,div으로 변경하여 출력하세요